*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    width: 1440px;
    height: 1508px;
    margin: 0 auto;
}
.header{
    width: 100%;
   height: 70px;
   background-color: black;
}
.nav{
 margin: 0 100px;
 gap: 817px;
 padding: 15px;
  display: flex;
  justify-content: space-between;
}
.logo{
    width: 40px;
    height: 40px;
}
.ul{
    display: flex;
   align-items: center;
   color: white;
    gap: 30px;
   list-style: none;
   font-size: 18px;
}
.section{
    width: 100%;
    height: 1368px;
}

.next{
    width: 743px;
    height: 186px;
    font-size: 88px;
   margin: 114px 348px 114px 349px;
  text-align: center;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 60px;
    column-gap: 30px;
}
.Li{
    width: 393px;
    height: 230px;
    text-align: center;
}
h2{
    margin: 30px 90.5px 10px 90.5px;
}
p{
    opacity: 60%;
}